/*RESPONSIVIDADE PARA TELAS GRANDES*/
@media (min-width: 1020px) {
	/*DIMENSOES DA MARGEM ESQUERDA*/
	.topo {
		padding-left: 50px;
	}
	.container-opcoes {
		margin-left: 25px;
	}
	.titulo-bloc {
		margin: 0;
	}
}

body {
	min-width: 390px;
}

@media (max-width: 400px) {
	.quadrado-confirmacao {
		width: 90%;
	}
	.quadrado-confirmacao button {
		width: 90%;
	}
}
